body,h1,p,h3 {
	margin: 0px;
}
a {
	text-decoration: none;
	color:inherit
}
img {
	vertical-align: top;
}
input {
	padding: 0px;
	border:0px;
	outline:none;
}
ul,ol {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
